ServiceClient/Connected Services/ServiceReference1/StringService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StringService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/StringService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/StringService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/StringService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Host" />
      <xsd:import schemaLocation="http://localhost:8080/StringService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStringService_DefineClass_InputMessage">
    <wsdl:part name="parameters" element="tns:DefineClass" />
  </wsdl:message>
  <wsdl:message name="IStringService_DefineClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:DefineClassResponse" />
  </wsdl:message>
  <wsdl:message name="IStringService_AddString_InputMessage">
    <wsdl:part name="parameters" element="tns:AddString" />
  </wsdl:message>
  <wsdl:message name="IStringService_AddString_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStringResponse" />
  </wsdl:message>
  <wsdl:message name="IStringService_GetDatasetInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatasetInformation" />
  </wsdl:message>
  <wsdl:message name="IStringService_GetDatasetInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatasetInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IStringService_GetPrivateInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrivateInformation" />
  </wsdl:message>
  <wsdl:message name="IStringService_GetPrivateInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrivateInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="IStringService">
    <wsdl:operation name="DefineClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IStringService/DefineClass" message="tns:IStringService_DefineClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStringService/DefineClassResponse" message="tns:IStringService_DefineClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddString">
      <wsdl:input wsaw:Action="http://tempuri.org/IStringService/AddString" message="tns:IStringService_AddString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStringService/AddStringResponse" message="tns:IStringService_AddString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatasetInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IStringService/GetDatasetInformation" message="tns:IStringService_GetDatasetInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStringService/GetDatasetInformationResponse" message="tns:IStringService_GetDatasetInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrivateInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IStringService/GetPrivateInformation" message="tns:IStringService_GetPrivateInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStringService/GetPrivateInformationResponse" message="tns:IStringService_GetPrivateInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStringService" type="tns:IStringService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DefineClass">
      <soap:operation soapAction="http://tempuri.org/IStringService/DefineClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddString">
      <soap:operation soapAction="http://tempuri.org/IStringService/AddString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatasetInformation">
      <soap:operation soapAction="http://tempuri.org/IStringService/GetDatasetInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrivateInformation">
      <soap:operation soapAction="http://tempuri.org/IStringService/GetPrivateInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StringService">
    <wsdl:port name="BasicHttpBinding_IStringService" binding="tns:BasicHttpBinding_IStringService">
      <soap:address location="http://localhost:8080/StringService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>